		<div id="container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
				<div class="login">瞧你发现了什么</div>
				<div class="username-text">邮箱:</div>
				<div class="password-text">密码:</div>
				<div class="username-field">
					<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
				</div>
				<div class="password-field">
          <%= f.password_field :password, autocomplete: "new-password" %>
				</div>
				<div class="password-text" style="margin-left:35px;">确认密码:</div>
				<div class="password-field" style="margin-left:35px;">
				  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>  
				</div>
				<div class="actions" style="margin-left:415px">
          <%= f.submit "注册" %>
        </div>
      <% end %>
		</div>
		<%= render "devise/shared/links" %>
		<div id="footer">
			与世界分享你的视界 
			<!--<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>-->
		</div>