<!-- Collection -->
	<div class="collection-agileits">
			<div class="collection-grids-agileits-w3layouts">
				<div class="col-md-4 col-sm-4 collection-left">
					
				</div>
				<div class="col-md-8 col-sm-8 collection-right">
					<div class="col-md-4 col-sm-4 collection-grid collection-text collection-grid-1">
						<img src='<%= asset_path 'c1.png' %>' alt="">
						<h3>Convallis </h3>
						<p>A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque.</p>
					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-image collection-grid-2">
						
					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-text collection-grid-3">
						<img src='<%= asset_path 'c2.png' %>' alt="" />
						<h3>Lacinia</h3>
						<p>A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque.</p>
					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-image collection-grid-4">
						
					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-text collection-grid-5">
						<img src='<%= asset_path 'c3.png' %>' alt="" />
						<h3>Sapien</h3>
						<p>A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque.</p>
					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-image collection-grid-6">
					
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
				<!-- //Collection -->

<!-- new games -->
<div class="new-w3-agile">

	<div class="container">
		<h3>New Games</h3>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%= asset_path 'ng1.jpg' %>' alt=" " />
			<div class="mask">
				<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[1].id%>'><h4>Click here</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%= asset_path 'ng2.jpg' %>' alt=" " />
			<div class="mask">
				<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[2].id%>'><h4>Click here</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%= asset_path 'ng3.jpg' %>' alt=" " />
			<div class="mask">
				<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[3].id%>'><h4>Click here</h4></a>
				<p>To learn more about this</p>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%= asset_path 'ng4.jpg' %>' alt=" " />
			<div class="mask">
					<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[4].id%>'><h4>Click here</h4></a>
				<p>To learn more about this</p>
				
			</div>
		</div>

		<div class="clearfix"></div>
	</div>
</div>
<!-- //new games-->

<!-- team -->
	<div class="team-w3layouts">
		<div class="container">
			<h3>Our Team</h3>
			<div class="w3l_team_grids-agile">
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src='<%= asset_path 't1.jpg' %>' alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="linkedin"></a></li>
									<li><a href="#" class="google"></a></li>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="facebook"></a></li>
								</ul>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Mariya Thomas</h4>
					<p>Games Designer</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src='<%= asset_path 't2.jpg' %>' alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="linkedin"></a></li>
									<li><a href="#" class="google"></a></li>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="facebook"></a></li>
								</ul>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Dino Jass</h4>
					<p>Games Designer</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src='<%= asset_path 't3.jpg' %>' alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="linkedin"></a></li>
									<li><a href="#" class="google"></a></li>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="facebook"></a></li>
								</ul>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Michael Doe</h4>
					<p>Games Designer</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src='<%= asset_path 't4.jpg' %>' alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="linkedin"></a></li>
									<li><a href="#" class="google"></a></li>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="facebook"></a></li>
								</ul>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Rita James</h4>
					<p>Games Designer</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //team -->
