<!-- Collection -->

	<div class="collection-agileits">
			<div class="collection-grids-agileits-w3layouts">
				<div class="col-md-4 col-sm-4 collection-left">
					
				</div>
				<div class="col-md-8 col-sm-8 collection-right">
					<div class="col-md-4 col-sm-4 collection-grid collection-text collection-grid-1">
						<img src='<%= asset_path 'c1.png' %>' alt="">
						<h3><a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[0].id%>'><%=@tagIdList[0].name%> </h3>
						<% @game_name_array[0].each do |game_name| %>
							<a href='/test_views/single?gameId=<%=game_name%>'>
								<p><%=Game.find(game_name).name%></p></a>
						<%end%>

					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-image collection-grid-2">
						
					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-text collection-grid-3">
						<img src='<%= asset_path 'c2.png' %>' alt="" />
						<h3><a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[1].id%>'><%=@tagIdList[1].name%></h3>
						<% @game_name_array[1].each do |game_name| %>
							<a href='/test_views/single?gameId=<%=game_name%>'>
								<p><%=Game.find(game_name).name%></p></a>
						<%end%>
					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-image collection-grid-4">
						
					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-text collection-grid-5">
						<img src='<%= asset_path 'c3.png' %>' alt="" />
						<h3><a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[2].id%>'><%=@tagIdList[2].name%></h3>
						<% @game_name_array[2].each do |game_name| %>
							<a href='/test_views/single?gameId=<%=game_name%>'>
								<p><%=Game.find(game_name).name%></p></a>
						<%end%>
					</div>
					<div class="col-md-4 col-sm-4 collection-grid collection-image collection-grid-6">
					
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
				<!-- //Collection -->

<!-- new games -->
<div class="new-w3-agile">

	<div class="container">
		<h3>热门标签</h3>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%=@pic_list[0]%>' height="255px"  alt=" " />
			<div class="mask">
				<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[0].id%>'><h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=@tagIdList[0].name%></h4></a>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%=@pic_list[1]%>' height="255px"  alt=" " />
			<div class="mask">
				<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[1].id%>'><h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=@tagIdList[1].name%></h4></a>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%=@pic_list[2]%>' height="255px"  alt=" " />
			<div class="mask">
				<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[2].id%>'><h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=@tagIdList[2].name%></h4></a>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%=@pic_list[3]%>' height="255px"  alt=" " />
			<div class="mask">
				<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[3].id%>'><h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=@tagIdList[3].name%></h4></a>
			</div>
		</div>

		<div class="clearfix"></div>
	</div>
</div>
<!-- //new games-->
<!-- team -->
	<div class="team-w3layouts">
		<div class="container">
			<h3>Our Team</h3>
			<table>
				<tr>
					<td>
					<div class="view view-second">
						<img src='<%= asset_path 't1.jpg' %>' alt=" " width="10">
						<div class="mask"></div>
						<div class="content">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<div class="new_team_type">
					<h4>Mariya Thomas</h4>
					<p>Games Designer</p>
					</div>
					</td>
					
					<td>
					<div class="view view-second">
						<img src='<%= asset_path 't1.jpg' %>' alt=" " width="10">
						<div class="mask"></div>
						<div class="content">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<div class="new_team_type">
					<h4>Mariya Thomas</h4>
					<p>Games Designer</p>
					</div>
					</td>
					
					<td>
					<div class="view view-second">
						<img src='<%= asset_path 't1.jpg' %>' alt=" " width="10">
						<div class="mask"></div>
						<div class="content">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<div class="new_team_type">
					<h4>Mariya Thomas</h4>
					<p>Games Designer</p>
					</div>
					</td>
					
					<td>
					<div class="view view-second">
						<img src='<%= asset_path 't1.jpg' %>' alt=" " width="10">
						<div class="mask"></div>
						<div class="content">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<div class="new_team_type">
					<h4>Mariya Thomas</h4>
					<p>Games Designer</p>
					</div>
					</td>
					
					<td>
					<div class="view view-second">
						<img src='<%= asset_path 't1.jpg' %>' alt=" " width="10">
						<div class="mask"></div>
						<div class="content">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<div class="new_team_type">
					<h4>Mariya Thomas</h4>
					<p>Games Designer</p>
					</div>
					</td>
				</tr>
			</table>
<!--
			<div class="w3l_team_grids-agile">
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src='<%= asset_path 't1.jpg' %>' alt=" " class="img-responsive"/>
						<div class="mask"></div>
						<div class="content">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Mariya Thomas</h4>
					<p>Games Designer</p>
				</div>
				
				
				
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src='<%= asset_path 't2.jpg' %>' alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Dino Jass</h4>
					<p>Games Designer</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src='<%= asset_path 't3.jpg' %>' alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Michael Doe</h4>
					<p>Games Designer</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src='<%= asset_path 't4.jpg' %>' alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Rita James</h4>
					<p>Games Designer</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
-->
<!-- //team -->
