<meta name="referrer" content="no-referrer">
<!-- Header -->
	<div class="header">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a href='/test_views/home'><h1>Games <img src='<%= asset_path 'c1.png' %>' alt=" " /> Zone</h1></a>-->
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect"><a href='/test_views/home'>首页</a></li>
						<li class="hover-effect"><a href='/test_views/about'>标签列表</a></li>
						<!--<li class="hover-effect active"><a href='/test_views/games'>Games</a></li>-->
						<li class="hover-effect"><a href='/test_views/news'>游戏列表</a></li>
						<!--<li class="hover-effect"><a href='/test_views/aboutme'>我的主页</a></li>-->
						
						<% if current_user %>
						<li class="hover-effect"><a href='/test_views/aboutme'>我的主页</a></li>
							<!--如果是管理员的话，显示后台管理链接-->
							<% if current_user.isadmin>0 %>
								<li class="hover-effect">
						    		<li class="hover-effect"><a href='/admin'>后台管理</a></li>
						    	</li>
					    	<% end %>
					    <li class="hover-effect">
					    	<%= link_to('登出', destroy_user_session_path, :method => :delete) %>
					    </li>
					    <% else %>
					    <li class="hover-effect">
					    	<%= link_to('登录', new_session_path(:user)) %>
					    </li>
					    <% end %>
						
					</ul>
				</div>

			</div>
		</nav>
		<!-- //Navbar -->

		<!-- Slider -->
		<div class="slider">
			<ul class="rslides" id="slider">
				<li>
					<img src='<%= asset_path 'banner3.jpg' %>' alt="" />
				</li>
				<li>
					<img src='<%= asset_path 'banner1.jpg' %>' alt="" />
				</li>
				<li>
					<img src='<%= asset_path 'banner2.jpg' %>' alt="" />
				</li>
			</ul>
		</div>
		<!-- //Slider -->

	</div>
	<!-- Banner-Slider-JavaScript -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 800,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!-- //Banner-Slider-JavaScript -->
	<!-- //Header -->

<!-- trend -->
<div class="trend-w3layouts">
	<div class="container">
		<h2>推荐标签</h2>
		<!--<ul id="flexiselDemo1" > -->
		<table>
				<!--<li>-->
				<tr>
					<td>
					<div class="trend-grid">
						
						<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[0]%>'>
							<h4><%=Tag.find(@tagIdList[0]).name%></h4>
							<img src='<%= asset_path Tag.find(@tagIdList[0]).pic %>' alt=" " height="360" width="250" /></a>
					</div>
					</td>
				<!--</li>-->
				<!--<li>-->
				<td>
					<div class="trend-grid">
						
						<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[1]%>'>
							<h4><%=Tag.find(@tagIdList[1]).name%></h4>
							<img src= '<%= asset_path Tag.find(@tagIdList[1]).pic %>' alt=" " height="360" width="250" /></a>
					</div>
					</td>
				<!--</li>-->
				<!--<li>-->
				<td>
					<div class="trend-grid">
						
						<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[2]%>'>
							<h4><%=Tag.find(@tagIdList[2]).name%></h4>
							<img src='<%= asset_path Tag.find(@tagIdList[2]).pic %>' alt=" " height="360" width="250" /></a>
					</div>
					</td>
				<!--</li>-->
				<!--<li>-->
				<td>
					<div class="trend-grid">
						
						<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[3]%>'>
							<h4><%=Tag.find(@tagIdList[3]).name%></h4>
							<img src='<%= asset_path Tag.find(@tagIdList[3]).pic %>' alt=" " height="360" width="250" /></a>
					</div>
					</td>
				</table>
				<!--</li>-->
			<!--</ul>-->
						<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 2
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:3
										},
										tablet: { 
											changePoint:768,
											visibleItems: 4
										}
									}
								});
								
							});
					</script>
					<script type="text/javascript" src="js/jquery.flexisel.js"></script>
	</div>
</div>
<!-- //trend -->


<!-- services-->
<div class="services-agileits-w3layouts">
	<div class="container">
		<h3>权威用户</h3>
		<% user_list=@userIdList.first(4)%>
		<% user_list.each do |user| %>
			<div class="col-md-3 service-grid-agileits service-grid-agileits-top">
      		<%if user.pic==nil %>
        		<p class="avatar"> <img src='https://img2.woyaogexing.com/2019/01/09/7d9bdd0d734c4519a6959978735ffc0a!400x400.jpeg' alt="" height=100> </p>
      		<%else%>
    		  	<p class="avatar"> <img src='<%=user.pic%>' alt="" height=100> </p>
      		<%end%>
				<h4><%=user.email.split("@")[0]%></h4>
				<%if user.fannum==nil%>
					<p>粉丝数: 0</p>
				<%else%>
					<p>粉丝数: <%=user.fannum%></p>
				<%end%>
				<p class="ab_name_t">个性签名：</p>
      			<%if user.information==nil or user.information==""%>
			 	   <textarea name="comment"  required="" rows="4" cols="40" disabled="disabled" style="resize:none;">这个人很懒，什么都没有留下。</textarea>
				<%else%>
						<textarea name="comment"  required="" rows="4" cols="40" disabled="disabled" style="resize:none;"><%=user.information%></textarea>
				<%end%>
				<%if user==current_user%>
					<a href='/test_views/aboutme'>Read More</a>
				<%else%>
					<a href='/test_views/aboutother?userId=<%=user.id%>'>Read More</a>
				<%end%>
			</div>
		<%end%>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //services-->
<!-- new games -->
<div class="new-w3-agile">

	<div class="container">
		<h3>推荐游戏</h3>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<a href='/test_views/single?gameId=<%=@gameIdList[0]%>'>
			<img src='<%=Game.find((@gameIdList[0])).pic%>' height="255px" width="255px" alt=" " />
			<div class="mask">
				<h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=Game.find(@gameIdList[0]).name%></h4></a>
			</div>
			
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<a href='/test_views/single?gameId=<%=@gameIdList[1]%>'>
			<img src='<%=Game.find((@gameIdList[1])).pic%>' height="255px" width="255px" alt=" " />
			<div class="mask">
				<h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=Game.find(@gameIdList[1]).name%></h4></a>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<a href='/test_views/single?gameId=<%=@gameIdList[2]%>'>
			<img src='<%=Game.find((@gameIdList[2])).pic%>'  height="255px" width="255px" alt=" " />
			<div class="mask">
				<h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=Game.find(@gameIdList[2]).name%></h4></a>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<a href='/test_views/single?gameId=<%=@gameIdList[3]%>'>
			<img src='<%=Game.find((@gameIdList[3])).pic%>' height="255px" width="255px" alt=" " />
			<div class="mask">
				<h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=Game.find(@gameIdList[3]).name%></h4></a>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<a href='/test_views/single?gameId=<%=@gameIdList[4]%>'>
			<img src='<%=Game.find((@gameIdList[4])).pic%>' height="255px" width="255px" alt=" " />
			<div class="mask">
				<h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=Game.find(@gameIdList[4]).name%></h4></a>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<a href='/test_views/single?gameId=<%=@gameIdList[5]%>'>
			<img src='<%=Game.find((@gameIdList[5])).pic%>' height="255px" width="255px" alt=" " />
			<div class="mask">
				<h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=Game.find(@gameIdList[5]).name%></h4></a>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<a href='/test_views/single?gameId=<%=@gameIdList[6]%>'>
			<img src='<%=Game.find((@gameIdList[6])).pic%>' height="255px" width="255px" alt=" " />
			<div class="mask">
				<h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=Game.find(@gameIdList[6]).name%></h4></a>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<a href='/test_views/single?gameId=<%=@gameIdList[7]%>'>
			<img src='<%=Game.find((@gameIdList[7])).pic%>' height="255px" width="255px" alt=" " />
			<div class="mask">
				<h4>点击这里</h4>
				<p>以了解</p>
				<h4><%=Game.find(@gameIdList[7]).name%></h4></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //new games-->


<!--
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

<div class="services-bottom-w3-agileits">
		<div class="container">
			<div class="wthree_info">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="wthree_info_grid">
									<h3>Duis aute dolor reprehenderit</h3>
									<p>Excepteur sint occaecat cupidatat non proident, sunt officia.</p>
									<a href='/test_views/single' class="learn">Learn More</a>
								</div>
							</li>
							<li>
								<div class="wthree_info_grid">
									<h3>Aliquip commodo consequat</h3>
									<p>Curabitur lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									<a href='/test_views/single' class="learn">Learn More</a>
								</div>
							</li>
							<li>
								<div class="wthree_info_grid">
									<h3>Quis autem vel eum iure ea</h3>
									<p>Phasellus ornare consectetur erat, eu vehicula orci finibus at.</p>
									<a href='/test_views/single' class="learn">Learn More</a>
								</div>
							</li>
						</ul>
					</div>
				</section>
				-->
						<!-- flexSlider -->
				<!--			
							<script defer src="js/jquery.flexslider.js"></script>
							<script type="text/javascript">
							$(window).load(function(){
							  $('.flexslider').flexslider({
								animation: "slide",
								start: function(slider){
								  $('body').removeClass('loading');
								}
							  });
							});
						  </script>
				<!--
						<!-- //flexSlider -->
<!--
			</div>
		</div>
	</div>
-->