
<!-- Header -->
	<div class="header">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a href='/test_views/home'><h1>Games <img src='<%= asset_path 'c1.png' %>' alt=" " /> Zone</h1></a>-->
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect"><a href='/test_views/home'>首页</a></li>
						<li class="hover-effect"><a href='/test_views/about'>标签列表</a></li>
						<!--<li class="hover-effect active"><a href='/test_views/games'>Games</a></li>-->
						<li class="hover-effect"><a href='/test_views/news'>游戏列表</a></li>
						<!--<li class="hover-effect"><a href='/test_views/aboutme'>我的主页</a></li>-->
						
						<% if current_user %>
						<li class="hover-effect"><a href='/test_views/aboutme'>我的主页</a></li>
							<!--如果是管理员的话，显示后台管理链接-->
							<% if current_user.isadmin>0 %>
								<li class="hover-effect">
						    		<li class="hover-effect"><a href='/admin'>后台管理</a></li>
						    	</li>
					    	<% end %>
					    <li class="hover-effect">
					    	<%= link_to('登出', destroy_user_session_path, :method => :delete) %>
					    </li>
					    <% else %>
					    <li class="hover-effect">
					    	<%= link_to('登录', new_session_path(:user)) %>
					    </li>
					    <% end %>
						
					</ul>
				</div>

			</div>
		</nav>
		<!-- //Navbar -->

		<!-- Slider -->
		<div class="slider">
			<ul class="rslides" id="slider">
				<li>
					<img src='<%= asset_path 'banner3.jpg' %>' alt="" />
				</li>
				<li>
					<img src='<%= asset_path 'banner1.jpg' %>' alt="" />
				</li>
				<li>
					<img src='<%= asset_path 'banner2.jpg' %>' alt="" />
				</li>
			</ul>
		</div>
		<!-- //Slider -->

	</div>
	<!-- Banner-Slider-JavaScript -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 800,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!-- //Banner-Slider-JavaScript -->
	<!-- //Header -->

<!-- trend -->
<div class="trend-w3layouts">
	<div class="container">
		<h2>Trending Games</h2>
		<!--<ul id="flexiselDemo1" > -->
		<table>
				<!--<li>-->
				<tr>
					<td>
					<div class="trend-grid">
						<h4><%=Tag.find(@tagIdList[0]).name%></h4>
						<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[0]%>'>
							<img src='<%= asset_path 'tg1.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					</td>
				<!--</li>-->
				<!--<li>-->
				<td>
					<div class="trend-grid">
						<h4><%=Tag.find(@tagIdList[1]).name%></h4>
						<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[1]%>'>
							<img src='<%= asset_path 'tg2.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					</td>
				<!--</li>-->
				<!--<li>-->
				<td>
					<div class="trend-grid">
						<h4><%=Tag.find(@tagIdList[2]).name%></h4>
						<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[2]%>'>
							<img src='<%= asset_path 'tg3.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					</td>
				<!--</li>-->
				<!--<li>-->
				<td>
					<div class="trend-grid">
						<h4><%=Tag.find(@tagIdList[3]).name%></h4>
						<a href='/test_views/find_in_tag?tag_id=<%=@tagIdList[3]%>'>
							<img src='<%= asset_path 'tg4.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					</td>
				</table>
				<!--</li>-->
			<!--</ul>-->
						<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 2
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:3
										},
										tablet: { 
											changePoint:768,
											visibleItems: 4
										}
									}
								});
								
							});
					</script>
					<script type="text/javascript" src="js/jquery.flexisel.js"></script>
	</div>
</div>
<!-- //trend -->


<!-- services-->
<div class="services-agileits-w3layouts">
	<div class="container">
		<h3>Services</h3>
		<div class="col-md-3 service-grid-agileits service-grid-agileits-top">
			<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
			<h4><%=@userIdList[0].email%></h4>
			<p>粉丝数:<%=@userIdList[0].fannum%></p>
			<a href='/test_views/aboutother?userId=<%=@userIdList[0].id%>'>Read More</a>
		</div>
		<div class="col-md-3 service-grid-agileits">
			<span class="glyphicon glyphicon-random" aria-hidden="true"></span>
			<h4><%=@userIdList[1].email%></h4>
			<p>粉丝数:<%=@userIdList[1].fannum%></p>
			<a href='/test_views/aboutother?userId=<%=@userIdList[1].id%>'>Read More</a>
		</div>
		<div class="col-md-3 service-grid-agileits service-grid-agileits-bottom">
			<span class="glyphicon glyphicon-yen" aria-hidden="true"></span>
			<h4><%=@userIdList[2].email%></h4>
			<p>粉丝数:<%=@userIdList[2].fannum%></p>
			<a href='/test_views/aboutother?userId=<%=@userIdList[2].id%>'>Read More</a>
		</div>
		<div class="col-md-3 service-grid-agileits service-grid-agileits-bottom">
			<span class="glyphicon glyphicon-object-align-right" aria-hidden="true"></span>
			<h4><%=@userIdList[3].email%></h4>
			<p>粉丝数:<%=@userIdList[3].fannum%></p>
			<a href='/test_views/aboutother?userId=<%=@userIdList[3].id%>'>Read More</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //services-->
<!-- new games -->
<div class="new-w3-agile">

	<div class="container">
		<h3>Recommend Games</h3>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			
			<img src='<%=Game.find((@gameIdList[0])).pic%>' height="255px" alt=" " />
			<div class="mask">
				<a href='/test_views/single?gameId=<%=@gameIdList[0]%>'><h4>Click here</p></h4>
				<p>To learn more about</p>
				<h4><%=Game.find(@gameIdList[0]).name%></h4>
			</div>
			
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%=Game.find((@gameIdList[1])).pic%>' height="255px" alt=" " />
			<div class="mask">
				<a href='/test_views/single?gameId=<%=@gameIdList[1]%>'><h4>Click here</h4></a>
				<p>To learn more about</p>
				<h4><%=Game.find(@gameIdList[1]).name%></h4>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%=Game.find((@gameIdList[2])).pic%>'  height="255px" alt=" " />
			<div class="mask">
				<a href='/test_views/single?gameId=<%=@gameIdList[2]%>'><h4>Click here</h4></a>
				<p>To learn more about</p>
				<h4><%=Game.find(@gameIdList[2]).name%></h4>
			</div>
		</div>
		<div class="col-md-3 new-grid-w3l view view-eighth">
			<img src='<%=Game.find((@gameIdList[3])).pic%>' height="255px" alt=" " />
			<div class="mask">
				<a href='/test_views/single?gameId=<%=@gameIdList[3]%>'><h4>Click here</h4></a>
				<p>To learn more about</p>
				<h4><%=Game.find(@gameIdList[3]).name%></h4>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src='<%=Game.find((@gameIdList[4])).pic%>' height="255px" alt=" " />
			<div class="mask">
				<a href='/test_views/single?gameId=<%=@gameIdList[4]%>'><h4>Click here</h4></a>
				<p>To learn more about</p>
				<h4><%=Game.find(@gameIdList[4]).name%></h4>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src='<%=Game.find((@gameIdList[5])).pic%>' height="255px" alt=" " />
			<div class="mask">
				<a href='/test_views/single?gameId=<%=@gameIdList[5]%>'><h4>Click here</h4></a>
				<p>To learn more about</p>
				<h4><%=Game.find(@gameIdList[5]).name%></h4>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src='<%=Game.find((@gameIdList[6])).pic%>' height="255px" alt=" " />
			<div class="mask">
				<a href='/test_views/single?gameId=<%=@gameIdList[6]%>'><h4>Click here</h4></a>
				<p>To learn more about</p>
				<h4><%=Game.find(@gameIdList[6]).name%></h4>
			</div>
		</div>
		<div class="col-md-3 new-grid-agile view view-eighth">
			<img src='<%=Game.find((@gameIdList[7])).pic%>' height="255px" alt=" " />
			<div class="mask">
				<a href='/test_views/single?gameId=<%=@gameIdList[7]%>'><h4>Click here</h4></a>
				<p>To learn more about</p>
				<h4><%=Game.find(@gameIdList[7]).name%></h4>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //new games-->


<!--
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

<div class="services-bottom-w3-agileits">
		<div class="container">
			<div class="wthree_info">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="wthree_info_grid">
									<h3>Duis aute dolor reprehenderit</h3>
									<p>Excepteur sint occaecat cupidatat non proident, sunt officia.</p>
									<a href='/test_views/single' class="learn">Learn More</a>
								</div>
							</li>
							<li>
								<div class="wthree_info_grid">
									<h3>Aliquip commodo consequat</h3>
									<p>Curabitur lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									<a href='/test_views/single' class="learn">Learn More</a>
								</div>
							</li>
							<li>
								<div class="wthree_info_grid">
									<h3>Quis autem vel eum iure ea</h3>
									<p>Phasellus ornare consectetur erat, eu vehicula orci finibus at.</p>
									<a href='/test_views/single' class="learn">Learn More</a>
								</div>
							</li>
						</ul>
					</div>
				</section>
				-->
						<!-- flexSlider -->
				<!--			
							<script defer src="js/jquery.flexslider.js"></script>
							<script type="text/javascript">
							$(window).load(function(){
							  $('.flexslider').flexslider({
								animation: "slide",
								start: function(slider){
								  $('body').removeClass('loading');
								}
							  });
							});
						  </script>
				<!--
						<!-- //flexSlider -->
<!--
			</div>
		</div>
	</div>
-->