
<!-- breadcrumbs -->
<!--
	<div class="agileits_breadcrumbs">
		<div class="container">
			<div class="agileits_breadcrumbs_left">
				<ul>
					<li><a href='/test_views/home'>Home</a><i>|</i></li>
					<li>Single</li>
				</ul>
			</div>
			<div class="agileits_breadcrumbs_right">
				<h3>Single</h3>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	-->
<!-- //breadcrumbs -->
<!-- single -->
	<div class="blog">
		<div class="container">
			<div class="col-md-7 wthree_blog_left">
				<div class="wthree_blog_left_grid">
					<div class="wthree_blog_left_grid_slider">
						<img src='<%= asset_path 's1.jpg' %>' alt=" " class="img-responsive" />
					</div>
					<h4>
						<% @tagLists.each do |taglist| %>
							<%= Tag.find(taglist.tag_id).name %>
							<%= str = '	' %>
						<% end %>
					</h4>
					<h3><%= @game.name %></h3>
					<ul>
						<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">Jan Mark</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><a href="#">20</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">5</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Voluptatibus</li>
					</ul>
					<!--<p>Duis venenatis, mi quis malesuada ultricies, nisi nisl posuere sapien,
						id egestas lectus urna et massa. Morbi mauris turpis, posuere auctor auctor 
						ornare, auctor nec lectus. Class aptent taciti sociosqu ad litora torquent 
						per conubia nostra, per inceptos himenaeos.
						<i>Nulla faucibus, arcu at consequat vulputate, turpis metus blandit urna, 
						quis suscipit orci nibh nec est. Phasellus tempus augue turpis. Fusce nec 
						tellus blandit, ullamcorper sapien vel, placerat erat. Nam non massa elit. 
						Morbi placerat molestie felis. Integer facilisis velit leo, vitae gravida 
						elit fringilla nec.</i>Quisque id nunc nec risus molestie aliquam. 
						Donec ex eros, lobortis et lorem quis, sagittis malesuada lectus. 
						Suspendisse ornare sed purus a imperdiet. Integer viverra nisi orci, 
						in volutpat leo ornare vitae.</p> -->
						<% 
							textlists = @game.detail.split("\n")
							textlists.each do |text|
						%>
								<p>	<%= text %> </p>
						<%end%>
				</div>
				<div class="agileits_share">
					<ul>
						<li><a class="linkedin" href="#"></a></li>
						<li><a class="google" href="#"></a></li>
						<li><a class="twitter" href="#"></a></li>
						<li><a class="facebook" href="#"></a></li>
					</ul>
				</div>
				
				<div class="w3l_categories">
					<h3>精彩评论</h3>
					<% if @commentLists.empty? %>
						<h3>还没有人评论，分享你的看法吧</h3>
					<% else %>
						<ul>
							<%	@commentLists.each do |c| %>
							<li>
								<a href='/test_views/aboutother?userId=<%=c.user_id%>'><%= User.find(c.user_id).email %></a> ||
								<%= c.created_at.year%>.<%= c.created_at.month%>.<%= c.created_at.day%>.
								<%= c.created_at.hour%>:<%= c.created_at.min%> ||
								<%= if c.score==nil then 3 else c.score end %>分
								<br>
								<%= c.content %>
							</li>
							<% end %>
						</ul>
						<%= paginate @commentLists %>
					<% end %>
				</div>
				
				<!-- 登录了才能评论，否则不允许评论-->
				<% if user_signed_in? %>
				
					<div class="agileits_reply">
					<h3>留下你的评论吧</h3>
						<form action="/test_views/writecomment" method="post">
							
							<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
							
							<input name="score" type="radio" value="1" />太糟糕了
							<input name="score" type="radio" value="2" />不怎么样  
							<input name="score" type="radio" value="3" />一般般吧  
							<input name="score" type="radio" value="4" />还不错呢  
							<input name="score" type="radio" value="5" />非常棒啊  
							
							<!-- <input type="text" name="Name" placeholder="Name" required="">
							<input type="email" name="Email" placeholder="Email" required="">
							<input type="text" name="Subject" placeholder="Subject" required=""> -->
							
							<textarea name="comment" placeholder="说点什么..." required="" rows="15"></textarea>
							<input type="hidden" name="gameId" value="<%= @game.id %>">
							<input type="submit" value="提交评论">
						</form>
					</div>
					
				<% else %>
					
					<div class="agileits_reply">
						<h3>您还没有登录，不能评论哟</h3>
						<h3><a href='/login/index'>去登陆</a></h3>
						<!-- <img src='<%= asset_path 'c2.jpg' %>' alt=" " class="img-responsive"/> -->
					</div>
				
				<% end %>
				
				
			</div>
			<div class="col-md-5 wthree_blog_right">
				<div class="w3ls_search">
					<form action="/test_views/find_in_single" method="post">
						<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
						<input type="text" name="gamename" placeholder="你想找的游戏叫什么名字？" required="">
						<input type="submit" value=" ">
					</form>
				</div>
				<div class="w3l_categories">
					<h3>Categories</h3>
					<ul>
						<li><a href='/test_views/single'>Vitae gravida elit fringilla nec sociosqu</a></li>
						<li><a href='/test_views/single'>Morbi mauris turpis, posuere auctor auctor</a></li>
						<li><a href='/test_views/single'>Class aptent taciti sociosqu litora torquent</a></li>
						<li><a href='/test_views/single'>Duis venenatis, mi quis malesuada ultricies</a></li>
						<li><a href='/test_views/single'>Egestas lectus urna et massa morbi mauris</a></li>
						<li><a href='/test_views/single'>Torquent conubia nostra inceptos himenaeos</a></li>
						<li><a href='/test_views/single'>Urna et massa morbi mauris turpis, posuere</a></li>
					</ul>
				</div>
				
				<div class="w3l_archives">
					<h3>Archives</h3>
					<ul>
						<li>2 August 2017</li>
						<li>14 August 2017</li>
						<li>23 August 2017</li>
						<li>8 September 2017</li>
						<li>18 September 2017</li>
					</ul>
				</div>
				<div class="w3agile_flickr_posts">
					<h3>Flickr Posts</h3>
					<div class="w3agile_flickr_post_left">
						<a href='/test_views/single'><img src='<%= asset_path 'ng1.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href='/test_views/single'><img src='<%= asset_path 'ng2.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href='/test_views/single'><img src='<%= asset_path 'ng3.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href='/test_views/single'><img src='<%= asset_path 'ng4.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href='/test_views/single'><img src='<%= asset_path 'ng5.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href='/test_views/single'><img src='<%= asset_path 'ng6.jpg' %>' alt=" " class="img-responsive" /></a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //single -->	
