<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>FilmProject</title>
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= yield %>
    
    
    <div class="footer">
	<div class="container">
		<!--
		<div class="col-md-3 footer-left-w3">
			<h4>Contact</h4>
			<ul>
				<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
				<li><a href="mailto:example@mail.com"><h6>ex@mail.com</h6></a></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
				<li><h6>+18045678834</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
				<li><h6>4th Avenue,London</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></li>
				<li><h6>(0033)6544 5453 644</h6></li>
			</ul>
		</div>
		<div class="col-md-5 footer-middle-w3">
			<h4>Latest Games</h4>
			<div class="col-md-3 img-w3-agile">
				<a href='/test_views/single'><img src='<%= asset_path 'ng1.jpg' %>' alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href='/test_views/single'><img src='<%= asset_path 'ng2.jpg' %>' alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href='/test_views/single'><img src='<%= asset_path 'ng3.jpg' %>' alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href='/test_views/single'><img src='<%= asset_path 'ng4.jpg' %>' alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href='/test_views/single'><img src='<%= asset_path 'ng5.jpg' %>' alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href='/test_views/single'><img src='<%= asset_path 'ng6.jpg' %>' alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href='/test_views/single'><img src='<%= asset_path 'ng7.jpg' %>' alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href='/test_views/single'><img src='<%= asset_path 'ng8.jpg' %>' alt=" " /></a>
			</div>
			<div class="clearfix"></div>
		</div>
		-->
		<!--<div class="col-md-4 footer-right-w3" style=" text-align:center;">-->
		<div style=" text-align:center;">
			<!--<a href='/test_views/home'>-->
				<!--<h4>小组成员</h4>-->
			<!--<img src='<%= asset_path 'f1.png' %>' alt=" " /> Zone</h4></a> -->
			<!--<p>Donec lobortis diam eu auctor porta. Phasellus in elementum tortor, sit amet imperdiet urna pellentesque non risus porta.</p>-->
			<!--<p class="agileinfo">Suspendisse convallis malesuada libero, non rutrum arcu pellentesque lacinia.</p>-->
			<p>章凯 张天瑞 曲慕子 习耀辉 余茜茜</p>
		
		</div>
		<div class="clearfix"></div>
		<div class="copyright">
			<!--<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
			<p>中国科学院大学-高级软件工程-18-19秋季</p>
		</div>
	</div>
</div>
<!-- //footer -->
  </body>
</html>
